extends layout

block head
  style.
    .tile {
      margin: 10px;
      width: 220px;
      height: 180px;
      display: inline-block;
      -webkit-box-shadow: 0px 1px 4px 3px rgba(12, 12, 12, .4);
      box-shadow: 0px 1px 4px 3px rgba(12, 12, 12, .4);
    }

block content
  - function rand () { var l_ = 'fdb97'.split(''); var c_ = '#'; for (var i = 0; i < 3; i++ ) { c_ += l_[Math.round(Math.random() * 4)]; } return c_; }
  .text-center
    - for(var i = 12; i > 0; i--) {
      .tile(style="background-color:#{rand()}")

    - }